.page-products .nav-tabs{
    border: unset;
    margin-bottom: 20px;
}
.basket-top{
    overflow-y: auto;
    height: 200px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.625rem 1.125rem !important;
    font-size: 0.875rem !important;
    line-height: 1 !important;
    border-radius: 0.2rem !important;
}
.in-basket {
    background-color: #25db05;
    border-color: #25db05;
}
.in-basket:hover,.in-basket:focus {
    background-color: #1dbf00;
    border-color: #1dbf00;
}
.product-basket-mini{
    display: flex;
    justify-content: space-between;
}
.order-basket{
    background: #f5faff;
    border: 1px solid #c3cedb;
    padding: 20px;
    margin-bottom: 30px;
}
/********** scroll ***********/
*::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
    margin: 5px 5px;
    padding: 5px;
    background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #b6b9bb;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #F5F5F5;
}
/********** //scroll ***********/
